@(ms_tables: List[MsTable], msTableForm: Form[String], result: List[MsTable])

@import helper._

@main("Todo list") {
<body>
    <h1>@ms_tables.size ms_table(s)</h1>
    <ul>
        @ms_tables.map { ms_table =>
        <li>
            @ms_table.tableId
            @ms_table.physicalTableName
            @ms_table.revision
        </li>
        }
    </ul>

    <h1>result area</h1>
    @if(result.length > 0) {
    <p>@result.head.physicalTableName</p>
    }

    <h2>Find Table</h2>

    @form(routes.MsTableController.find_ms_table) {
        @inputText(msTableForm("physicalTableName"))
        <input type="submit" value="search">
    }
</body>
}